html { 
    overflow-x:  hidden; 
}
body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}
//--------------------------------------------------------   font-face
@font-face {
    font-family: 'Helvetica Neue Cyr Roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Helvetica Neue Cyr Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'Helvetica Neue Cyr Bold';
        src: url('../fonts/HelveticaNeueCyr-Bold.eot');
        src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

//--------------------------------------------------------   for h1-h3

h1 {
    font-family: 'Prata', serif;
    font-size: 70px;
    font-weight: normal;
}

.h_bigger {
    font-family: 'Prata', serif;
    font-weight: normal;
    font-size: 80px;
    color: white;
}

h2 {
    font-family: 'Prata', serif;
    font-size: 35px;
    font-weight: normal;
}

h3 {
    font-family: 'Prata', serif;
    font-size: 30px;
    font-weight: normal;
}

h4 {
    font-family: 'Prata', serif;
    font-size: 20px;
    color: #00162f;
    line-height: 30px;
    font-weight: 400;
}
//--------------------------------------------------------   button

.button {
    display: inline-block;
    text-align: center;
    font-family: 'Helvetica Neue Cyr Bold';
    font-size: 14px;
    padding: 21px 37px;
    letter-spacing: 0.08em;
    cursor: pointer;
}

.button--white {
    color: white;
    border: 2px solid white;
}

.button--blue {
    color: #131728;
    border: 2px solid #131728;
}

.button--solutions {
    margin: 0 auto;
    margin-top: 80px;
}

.hover__blue, .hover__white {
    transition: ease-out 0.3s;
}
.hover__white:hover {
    background-color: white;
    color: #16192a;
    border: 2px solid white;
    transition: ease-out 0.3s;
}
.hover__blue:hover  {
    background-color: #16192a;
    color: white;
    border: 2px solid #16192a;
    transition: ease-out 0.3s;
}
.header__number__scroll:hover {
    color: white;
    transition: ease-out 0.3s;
}
.footer__body {
    input[type="text"]:hover,
    textarea:hover {
    border: 2px solid white;
    transition: ease-out 0.4s;
    }
}

input[type="text"]:focus,
    textarea:focus {
    border: 2px solid white;
    }

//--------------------------------------------------------   another

hr {
    height: 1px;
    width: 100%;
    color: #414451;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.line__hor {
    height: 2px;
    width: 500px;
    position: absolute;
    margin-left: -550px;
    margin-top: -52px;
}

.line__ver {
    height: 400px;
    width: 2px;
    position: absolute;
    margin-bottom: -300px;
    bottom: 0;
}

.dark {
    color: #131728;
}

.light {
    color: white;
}

.dark--back {
    background-color: #131728;
}

.light--back {
    background-color: white;
}

.gray--back {
    background-color: #888a90;;
}

section {
    width: 1110px;
    margin: 0 auto;
}

.line--up {
    margin-top: -150px;
}

.up__space {
    margin-top: 120px;
}