//-------------------------------------contacts

.back {
    height: 15px;
    display: flex;

    img {
        width: 12px;
        height: 10px;
        margin-top: 4px;
        margin-right: 11px;
    }

    p {
        font-family: 'Helvetica Neue Cyr Bold';
        font-size: 15px;
        color: #646464;
    }
}

.contacts {
    margin-top: 25px;
}

.contacts__header {
    position: relative;
    margin-bottom: 100px;
}

.contacts__body {
    display: flex;
    justify-content: space-between;
    width: 620px;
}

.adress__p {
    line-height: 24px;
    font-size: 16px;
    font-family: 'Helvetica Neue Cyr Roman';
    color: #646464;
    margin-bottom: 20px;
    margin-top: 20px;
}

.adress__a {
    line-height: 27px;
    font-size: 18px;
    font-family: 'Helvetica Neue Cyr Roman';
    color: #646464;
}