//------------------------------------header
.header-backcolor {
    background-color: #16192a;
    width: 100%;
    height: 90px;
}

.header-container {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.backcolor--bottom {
    position: absolute;
    opacity: 0;
}

nav {
    margin: 0 auto;
    width: 100%;

    .navigation {
        display: flex;
        position: relative;
        width: 1337px;
        margin: 0 auto;
    }
}

.fixed {
    position: fixed;
    background-color: #131627;

    .logo {
        margin-top: 0px;
    }

    .header__number {
        margin-top: 15px;
    }

    .header__navigation {
        margin-top: -20px;
    }
}

.hamburger-menu {
    display: none;
}

.popup__nav {
    width: 116px;
    height: 20px;
}


.header__number {
    display: flex;
    position: relative;

    #button__hidden {
        position: absolute;
        width: 116px;
        height: 24px;
        right: 0;
    }
}

.header__navigation {
    position: absolute;
    right: 0;

    ul {
        margin-top: 15px;
        display: flex;
    }
}

.navigation__list {
    margin: 20px 25px;

    a {
        font-family: 'Helvetica Neue Cyr Medium';
        font-size: 14px;
        color: #a2a3aa;
        letter-spacing: 0.15em;
    }

    a:hover {
        color: white;
    }

    a:after {
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        background-color: white;
        transition: width .3s ease-in-out;
    }

    a:hover:after,
    a:active:after {
    width: 97%;
}
}

.logo {
    margin-top: 20px;
    margin-right: 160px;
    
    a {
        color: white;
    }
}

.header__number {
    margin-top: 35px;
}

.header__number__phone {
    font-family: 'Helvetica Neue Cyr Roman';
    font-size: 18px;
    color: white;
    margin-right: 16px;
}

.line--vertical {
    height: 17px;
    width: 2px;
    background-color:  #eeeeee;
    border-radius: 1px;
    
}

.header__number__scroll {
    font-family: 'Helvetica Neue Cyr Roman';
    font-size: 15px;
    color: #a2a3aa;
    margin-top: 3px;
    margin-left: 16px;
}

//-------------------------------------------------footer

footer {
    width: 100%;
    padding: 100px 0 0;
    background-image: url("../img/bg-footer.png")
}

.footer__header {
    position: relative;
    margin-bottom: 45px;

    img {
        position: absolute;
        margin-top: -180px;
        right: 0;
        margin-right: -135px;
    }
}

.footer__body {
    margin-bottom: 100px;
}

.footer__l-col {
    width: 444px;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"],
textarea {
    font-family: 'Playfair Display', serif;
    width: 100%;
    background-image: url('../img/bg-footer.png');
    border: 1px solid #888a92;
    color: #888a92;
    font-size: 20px;
    padding-left: 30px;
}
input[type="button"] {
    width: 1px;
    height: 1px;
    opacity: 0;
}
input[type="text"] {
    height: 58px;
    margin-bottom: 30px;
}

textarea {
    height: 234px;
    resize: none;
    padding-top: 18px;
}

.footer__r-col,
.footer__r-col p {
    width: 539px;
    margin-right: 95px;
}

label > span {
    cursor: pointer;
    color: white;
    border: 2px solid white;
    display: block;
    width: 270px;
    height: 64px;
    font-family: 'Helvetica Neue Cyr Bold';
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

.r-col__button {
    display: flex;

    p {
        font-family: 'Helvetica Neue Cyr Roman';
        font-size: 12px;
        margin: 0;
        margin-left: 30px;
        margin-top: 43px;
        color: #71737d;

        a {
            color: #71737d;
            text-decoration: underline;
        }
    }
}

.footer__under {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    p, a {
        margin-top: 35px;
        color: #71737d;
        font-family: 'Helvetica Neue Cyr Roman';
        font-size: 16px;
    }
    .volkov__footer {
        font-size: 35px;
        font-family: 'Prata', serif;
        color: white;
    }
    
}