.header__slide {
  padding: 220px 0 0;
  height: 100vh;
  position: relative;
  display: flex;
}

.header__slide__img {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.header__slide__left {
  width: 800px;
}

.header__slide__right {
  margin-right: -150px;
}

.header__slide__right img {
  position: absolute;
}

.header__slide__up {
  font-family: 'Helvetica Neue Cyr Bold';
  font-size: 14px;
  color: #888a90;
  letter-spacing: 0.1em;
}

.header__slide__under {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 18px;
  line-height: 27px;
  color: #b5b6b9;
  width: 465px;
  margin-top: 25px;
}

.button--first__slide {
  margin-top: 55px;
}

.scrollto {
  font-family: 'Helvetica Neue Cyr Medium';
  font-size: 14px;
  color: #888a90;
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0;
  margin-bottom: 130px;
}

.header_quote {
  margin-top: 400px;
  width: 320px;
  font-family: 'Prata', serif;
  color: #888a90;
  font-size: 18px;
}

.header_quote img {
  margin-top: -35px;
}

.header_quote p {
  font-size: 22px;
  line-height: 0.02em;
  margin-top: 40px;
}

.header__line {
  height: 1px;
  right: 0;
  width: 1000px;
  margin-top: 0px;
  margin-right: -910px;
  color: #34343d;
}

.help__slide {
  padding: 100px 0 135px;
  position: relative;
}

.help__slide p {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  line-height: 24px;
  color: #7b7d86;
}

.help__l-col {
  width: 550px;
  min-height: 600px;
}

.help__r-col {
  padding-top: 120px;
  top: 0;
  position: absolute;
  right: 0;
  margin-right: 100px;
  width: 350px;
}

.help__r-col img {
  position: absolute;
  padding-left: 140px;
}

.r-col__help {
  margin-bottom: 50px;
}

.r-col__help h3 {
  margin-bottom: 10px;
}

.about {
  background-image: url("../img/bg-footer.png");
  padding: 100px 0 150px;
}

.about__top {
  display: flex;
}

.about__r-col {
  position: absolute;
  right: 0;
  top: 0;
}

.about__l-col {
  width: 590px;
  margin-right: 50px;
  height: 570px;
}

.about__l-col p {
  margin-top: 20px;
  color: #7b7d86;
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  line-height: 24px;
  width: 550px;
}

.rectangle {
  position: relative;
  margin-top: 40px;
  z-index: 6;
}

.rectangle img {
  position: absolute;
  margin-top: -40px;
  width: 444px;
  height: 543px;
}

.rectangle__img {
  width: 444px;
  height: 543px;
  background-color: #0a0c15;
  margin-left: 40px;
}

.about__bottom {
  position: relative;
}

.bottom__r-col {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom__r-col img {
  position: absolute;
  margin-top: -140px;
  margin-left: 140px;
  z-index: 3;
}

.diplom {
  position: relative;
  z-index: 6;
}

.bottom__l-col {
  width: 540px;
  margin-top: 100px;
}

.bottom__l-col h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 40px;
}

.bottom__l-col p {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  line-height: 24px;
  color: #7b7d86;
}

.diplom {
  width: 445px;
  height: 240px;
  border: 1px solid white;
  background-color: #131627;
}

.solutions {
  background-color: white;
  padding: 100px 0 150px;
}

.solutions section {
  position: relative;
}

.solutions h1 {
  width: 590px;
}

.solutions img {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.solutions__row {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.solution {
  width: 350px;
}

.solution p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 23px;
  font-family: 'Helvetica Neue Cyr Roman';
  color: #7b7d86;
}

.diploms__positions {
  right: 0;
  width: 445px;
  height: 240px;
  border: 1px solid white;
  position: relative;
  z-index: 6;
}

.diplom__arrow {
  width: 445px;
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
}

.diplom__arrow .pre-next {
  background-image: url("../img/bg-footer.png");
  width: 40px;
  height: 29px;
  outline: none;
  border: 0px;
  cursor: pointer;
}

.diplom__arrow .pre-next img {
  margin-top: -15px;
  margin-left: 0px;
  display: flex;
}

.diplom__arrow .next img {
  transform: rotate(180deg);
}

.diploms__arrow {
  text-align: center;
  margin-top: 35px;
  font-size: 30px;
  color: white;
  font-family: 'Prata', serif;
}

.popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
  z-index: 1000;
}

.popup__form {
  display: none;
  position: fixed;
  width: 350px;
  height: 470px;
  background-color: white;
  z-index: 1001;
  padding: 36px 36px;
  left: -175px;
  top: -235px;
  margin-left: 50vw;
  margin-top: 50vh;
}

.popup__form h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 37px;
}

.popup__form form {
  display: block;
}

.popup__form p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Helvetica Neue Cyr Roman';
  color: #858585;
  text-align: center;
}

.popup__form p a {
  color: #858585;
  text-decoration: underline;
}

.popup__form input[type="text"] {
  background-color: white;
  background-image: none;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #131728;
}

.popup__form label > span {
  color: #131728;
  font-size: 16px;
  font-family: 'Helvetica Neue Cyr Bold';
  border: 1px solid #131728;
}

.button__slim {
  width: 330px;
  margin: 0 auto;
}
