@import "./constants.scss";
@import "./header-and-footer-style.scss";
@import "./index-style.scss";
@import "./contacts-style.scss";
@import "./price-style.scss";
@import "./posts-style.scss";

//-------------------------------------------------index

.header__slide {
    padding: 220px 0 0;
    height: 100vh;
    position: relative;
    display: flex;
}

.header__slide__img {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.header__slide__left {
    width: 950px;
}

.header__slide__right {
    margin-right: -150px;
}

.header__slide__right img {
    position: absolute;
}

.header__slide__up {
    font-family: 'Helvetica Neue Cyr Bold';
    font-size: 14px;
    color: #888a90;
    letter-spacing: 0.1em;
}

.header__slide__under {
    font-family: 'Helvetica Neue Cyr Roman';
    font-size: 18px;
    line-height: 27px;
    color: #b5b6b9;
    width: 465px;
    margin-top: 25px;
} 

.button--first__slide {
    margin-top: 55px;
}

.scrollto {
    font-family: 'Helvetica Neue Cyr Medium';
    font-size: 14px;
    color: #888a90;
    letter-spacing: 0.1em;
    margin-top: 180px;
}

.header_quote {
    margin-top: 400px;
    width: 320px;
    font-family: 'Prata', serif;
    color: #888a90;
    font-size: 18px;

    img {
        margin-top: -35px;
    }

    p {
        font-size: 22px;
        line-height: 0.02em;
        margin-top: 40px;
    }
}

.header__line {
    height: 1px;
    right: 0;
    width: 1000px;
    margin-top: 0px;
    margin-right: -1010px;
    color: #34343d;
}

.help__slide {
    padding: 100px 0 135px;
    position: relative;
}

.help__l-col {
    width: 550px;
    min-height: 500px;
}

.help__r-col{
    padding-top: 120px;
    top: 0;
    position: absolute;
    right: 0;
    margin-right: 100px;
    width: 350px;

    img {
        position: absolute;
        padding-left: 280px;
    }
}

.r-col__help {
    margin-bottom: 50px;

    h3 {
        margin-bottom: 10px;
    }
}