html {
  overflow-x: hidden;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 70px;
  font-weight: normal;
}

.h_bigger {
  font-family: 'Prata', serif;
  font-weight: normal;
  font-size: 80px;
  color: white;
}

h2 {
  font-family: 'Prata', serif;
  font-size: 35px;
  font-weight: normal;
}

h3 {
  font-family: 'Prata', serif;
  font-size: 30px;
  font-weight: normal;
}

h4 {
  font-family: 'Prata', serif;
  font-size: 20px;
  color: #00162f;
  line-height: 30px;
  font-weight: 400;
}

.button {
  display: inline-block;
  text-align: center;
  font-family: 'Helvetica Neue Cyr Bold';
  font-size: 14px;
  padding: 21px 37px;
  letter-spacing: 0.08em;
  cursor: pointer;
}

.button--white {
  color: white;
  border: 2px solid white;
}

.button--blue {
  color: #131728;
  border: 2px solid #131728;
}

.button--solutions {
  margin: 0 auto;
  margin-top: 80px;
}

.hover__blue, .hover__white {
  transition: ease-out 0.3s;
}

.hover__white:hover {
  background-color: white;
  color: #16192a;
  border: 2px solid white;
  transition: ease-out 0.3s;
}

.hover__blue:hover {
  background-color: #16192a;
  color: white;
  border: 2px solid #16192a;
  transition: ease-out 0.3s;
}

.header__number__scroll:hover {
  color: white;
  transition: ease-out 0.3s;
}

.footer__body input[type="text"]:hover,
.footer__body textarea:hover {
  border: 2px solid white;
  transition: ease-out 0.4s;
}

input[type="text"]:focus,
textarea:focus {
  border: 2px solid white;
}

hr {
  height: 1px;
  width: 100%;
  color: #414451;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.line__hor {
  height: 2px;
  width: 500px;
  position: absolute;
  margin-left: -550px;
  margin-top: -52px;
}

.line__ver {
  height: 400px;
  width: 2px;
  position: absolute;
  margin-bottom: -300px;
  bottom: 0;
}

.dark {
  color: #131728;
}

.light {
  color: white;
}

.dark--back {
  background-color: #131728;
}

.light--back {
  background-color: white;
}

.gray--back {
  background-color: #888a90;
}

section {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}

.line--up {
  margin-top: -150px;
}

.up__space {
  margin-top: 120px;
}

.header-backcolor {
  background-color: #16192a;
  width: 100%;
  height: 90px;
}

.header-container {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.backcolor--bottom {
  position: absolute;
  opacity: 0;
}

nav {
  margin: 0 auto;
  width: 100%;
}

nav .navigation {
  display: flex;
  position: relative;
  width: 1337px;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  background-color: #131627;
  height: 90px;
  padding-top: 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
}

.fixed .logo {
  margin-top: 0px;
}

.fixed .header__number {
  margin-top: 15px;
}

.fixed .header__navigation {
  margin-top: -20px;
}

.hamburger-menu {
  display: none;
}

.popup__nav {
  width: 116px;
  height: 20px;
}

.header__number {
  display: flex;
  position: relative;
}

.header__number #button__hidden {
  position: absolute;
  width: 116px;
  height: 24px;
  right: 0;
}

.header__navigation {
  position: absolute;
  right: 0;
}

.header__navigation ul {
  margin-top: 15px;
  display: flex;
}

.navigation__list {
  margin: 20px 25px;
}

.navigation__list a {
  font-family: 'Helvetica Neue Cyr Medium';
  font-size: 14px;
  color: #a2a3aa;
  letter-spacing: 0.15em;
}

.navigation__list a:hover {
  color: white;
}

.navigation__list a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width .3s ease-in-out;
}

.navigation__list a:hover:after,
.navigation__list a:active:after {
  width: 97%;
}

.logo {
  margin-top: 20px;
  margin-right: 160px;
}

.logo a {
  color: white;
}

.header__number {
  margin-top: 35px;
}

.header__number__phone {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 18px;
  color: white;
  margin-right: 16px;
}

.line--vertical {
  height: 17px;
  width: 2px;
  background-color: #eeeeee;
  border-radius: 1px;
}

.header__number__scroll {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  color: #a2a3aa;
  margin-top: 3px;
  margin-left: 16px;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 100px 0 70px;
  background-image: url("../img/bg-footer.png");
}

.footer__header {
  position: relative;
  margin-bottom: 45px;
}

.footer__header img {
  position: absolute;
  margin-top: -180px;
  right: 0;
}

.footer__body {
  margin-bottom: 100px;
}

.footer__l-col {
  width: 444px;
}

form {
  display: flex;
  justify-content: space-between;
}

input[type="text"],
textarea {
  font-family: 'Playfair Display', serif;
  width: 100%;
  background-image: url("../img/bg-footer.png");
  border: 1px solid #888a92;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  outline: 0;
}

input[type="button"] {
  width: 1px;
  height: 1px;
  opacity: 0;
}

input[type="text"] {
  height: 58px;
  margin-bottom: 30px;
}

textarea {
  height: 234px;
  resize: none;
  padding-top: 18px;
}

.footer__r-col,
.footer__r-col p {
  width: 539px;
  margin-right: 95px;
}

label > span {
  cursor: pointer;
  color: white;
  border: 2px solid white;
  display: block;
  width: 270px;
  height: 64px;
  font-family: 'Helvetica Neue Cyr Bold';
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
}

.r-col__button {
  display: flex;
}

.r-col__button p {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 12px;
  margin: 0;
  margin-left: 30px;
  margin-top: 43px;
  color: #71737d;
}

.r-col__button p a {
  color: #71737d;
  text-decoration: underline;
}

.footer__under {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__under p, .footer__under a {
  margin-top: 35px;
  color: #71737d;
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 16px;
}

.footer__under .volkov__footer {
  font-size: 35px;
  font-family: 'Prata', serif;
  color: white;
}

.header__slide {
  padding: 220px 0 0;
  height: 100vh;
  position: relative;
  display: flex;
}

.header__slide__img {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.header__slide__left {
  width: 800px;
}

.header__slide__right {
  margin-right: -150px;
}

.header__slide__right img {
  position: absolute;
}

.header__slide__up {
  font-family: 'Helvetica Neue Cyr Bold';
  font-size: 14px;
  color: #888a90;
  letter-spacing: 0.1em;
}

.header__slide__under {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 18px;
  line-height: 27px;
  color: #b5b6b9;
  width: 465px;
  margin-top: 25px;
}

.button--first__slide {
  margin-top: 55px;
}

.scrollto {
  font-family: 'Helvetica Neue Cyr Medium';
  font-size: 14px;
  color: #888a90;
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0;
  margin-bottom: 130px;
}

.header_quote {
  margin-top: 400px;
  width: 320px;
  font-family: 'Prata', serif;
  color: #888a90;
  font-size: 18px;
}

.header_quote img {
  margin-top: -35px;
}

.header_quote p {
  font-size: 22px;
  line-height: 0.02em;
  margin-top: 40px;
}

.header__line {
  height: 1px;
  right: 0;
  width: 1000px;
  margin-top: 0px;
  margin-right: -910px;
  color: #34343d;
}

.help__slide {
  padding: 100px 0 135px;
  position: relative;
}

.help__slide p {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  line-height: 24px;
  color: #7b7d86;
}

.help__l-col {
  width: 550px;
  min-height: 600px;
}

.help__r-col {
  padding-top: 120px;
  top: 0;
  position: absolute;
  right: 0;
  margin-right: 100px;
  width: 350px;
}

.help__r-col img {
  position: absolute;
  padding-left: 140px;
}

.r-col__help {
  margin-bottom: 50px;
}

.r-col__help h3 {
  margin-bottom: 10px;
}

.about {
  background-image: url("../img/bg-footer.png");
  padding: 100px 0 150px;
}

.about__top {
  display: flex;
}

.about__r-col {
  position: absolute;
  right: 0;
  top: 0;
}

.about__l-col {
  width: 590px;
  margin-right: 50px;
  height: 570px;
}

.about__l-col p {
  margin-top: 20px;
  color: #7b7d86;
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  line-height: 24px;
  width: 550px;
}

.rectangle {
  position: relative;
  margin-top: 40px;
  z-index: 6;
}

.rectangle img {
  position: absolute;
  margin-top: -40px;
  width: 444px;
  height: 543px;
}

.rectangle__img {
  width: 444px;
  height: 543px;
  background-color: #0a0c15;
  margin-left: 40px;
}

.about__bottom {
  position: relative;
}

.bottom__r-col {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom__r-col img {
  position: absolute;
  margin-top: -140px;
  margin-left: 140px;
  z-index: 3;
}

.diplom {
  position: relative;
  z-index: 6;
}

.bottom__l-col {
  width: 540px;
  margin-top: 100px;
}

.bottom__l-col h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 40px;
}

.bottom__l-col p {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  line-height: 24px;
  color: #7b7d86;
}

.diplom {
  width: 445px;
  height: 240px;
  border: 1px solid white;
  background-color: #131627;
}

.solutions {
  background-color: white;
  padding: 100px 0 150px;
}

.solutions section {
  position: relative;
}

.solutions h1 {
  width: 590px;
}

.solutions img {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.solutions__row {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.solution {
  width: 350px;
}

.solution p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 23px;
  font-family: 'Helvetica Neue Cyr Roman';
  color: #7b7d86;
}

.diploms__positions {
  right: 0;
  width: 445px;
  height: 240px;
  border: 1px solid white;
  position: relative;
  z-index: 6;
}

.diplom__arrow {
  width: 445px;
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
}

.diplom__arrow .pre-next {
  background-image: url("../img/bg-footer.png");
  width: 40px;
  height: 29px;
  outline: none;
  border: 0px;
  cursor: pointer;
}

.diplom__arrow .pre-next img {
  margin-top: -15px;
  margin-left: 0px;
  display: flex;
}

.diplom__arrow .next img {
  transform: rotate(180deg);
}

.diploms__arrow {
  text-align: center;
  margin-top: 35px;
  font-size: 30px;
  color: white;
  font-family: 'Prata', serif;
}

.popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
  z-index: 1000;
}

.popup__form {
  display: none;
  position: fixed;
  width: 350px;
  height: 470px;
  background-color: white;
  z-index: 1001;
  padding: 36px 36px;
  left: -175px;
  top: -235px;
  margin-left: 50vw;
  margin-top: 50vh;
}

.popup__form h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 37px;
}

.popup__form form {
  display: block;
}

.popup__form p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Helvetica Neue Cyr Roman';
  color: #858585;
  text-align: center;
}

.popup__form p a {
  color: #858585;
  text-decoration: underline;
}

.popup__form input[type="text"] {
  background-color: white;
  background-image: none;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #131728;
}

.popup__form label > span {
  color: #131728;
  font-size: 16px;
  font-family: 'Helvetica Neue Cyr Bold';
  border: 1px solid #131728;
}

.button__slim {
  width: 330px;
  margin: 0 auto;
}

.back {
  height: 15px;
  display: flex;
}

.back img {
  width: 12px;
  height: 10px;
  margin-top: 4px;
  margin-right: 11px;
}

.back p {
  font-family: 'Helvetica Neue Cyr Bold';
  font-size: 15px;
  color: #646464;
}

.contacts {
  margin-top: 25px;
}

.contacts__header {
  position: relative;
  margin-bottom: 100px;
}

.contacts__body {
  display: flex;
  justify-content: space-between;
  width: 620px;
}

.adress__p {
  line-height: 24px;
  font-size: 16px;
  font-family: 'Helvetica Neue Cyr Roman';
  color: #646464;
  margin-bottom: 20px;
  margin-top: 20px;
}

.adress__a {
  line-height: 27px;
  font-size: 18px;
  font-family: 'Helvetica Neue Cyr Roman';
  color: #646464;
}

.adress__a:last-child {
  margin-bottom: 100px;
}

.price {
  background-color: #e7e8e9;
  width: 100%;
  min-height: 223px;
  padding: 44px 73px;
  display: flex;
  position: relative;
  margin-bottom: 15px;
}

.price h2 {
  font-size: 40px;
  line-height: 60px;
  width: 340px;
  margin-right: 30px;
}

.price__right {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  line-height: 27px;
  color: #696969;
}

.close {
  display: none;
}

.hide, .hide + label ~ div {
  display: none;
}

.hide:checked + label > .open {
  display: none;
}

.hide:checked + label > .close {
  display: block;
}

.hide + label,
.hide:checked + label {
  padding: 0;
  cursor: pointer;
}

.hide:checked + label p img {
  transform: rotate(180deg);
  padding-right: 10px;
}

.hide:checked + label + div {
  display: block;
}

.hide + label:before {
  content: '';
  display: block;
  position: absolute;
}

.price__read {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 100px;
  font-size: 15px;
  line-height: 27px;
  color: #333333;
  text-decoration: underline;
  font-family: 'Helvetica Neue Cyr Bold';
}

.price__read img {
  padding-left: 10px;
}

.prices {
  margin-bottom: 70px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  width: 350px;
  height: 550px;
  border: 2px solid #242d47;
  position: relative;
  margin-bottom: 70px;
  box-shadow: 0 5px 20px rgba(0, 22, 47, 0.4);
}

.post img {
  object-fit: cover;
  width: 100%;
}

.post__body {
  padding: 30px;
}

.post__body h4 {
  margin-bottom: 10px;
}

.post__body p {
  font-family: 'Helvetica Neue Cyr Roman';
  line-height: 23px;
  font-size: 15px;
}

.post__body a {
  position: absolute;
  margin-bottom: 52px;
  bottom: 0;
  text-decoration: underline;
  font-size: 15px;
  line-height: 23px;
  font-family: 'Helvetica Neue Cyr Bold';
  color: #00162f;
}

@media screen and (max-width: 1420px) {
  nav .navigation {
    width: 100%;
  }
  .logo {
    margin-right: 100px;
    margin-left: 20px;
  }
}

@media screen and (max-height: 800px) {
  .scrollto {
    display: none;
  }
  .line__ver {
    display: none;
  }
  .header_quote {
    margin-top: 280px;
  }
  .header__slide {
    padding: 170px 0 0;
  }
}

@media screen and (max-height: 600px) {
  .header__slide {
    height: 600px;
  }
}

@media screen and (max-width: 1136px) {
  section {
    width: 100%;
  }
  .header__slide__left {
    width: 650px;
    margin-left: 20px;
  }
  .header__line {
    left: 1400px;
  }
  .header__slide {
    padding: 170px 0 0;
  }
  .logo {
    margin-right: 40px;
  }
  .help__slide {
    padding: 100px 0 135px 20px;
  }
  .about__l-col {
    margin-left: 20px;
  }
  .bottom__l-col {
    margin-left: 20px;
  }
  .bottom__r-col {
    right: 20px;
  }
  .bottom__r-col img {
    margin-left: 160px;
  }
  .solutions {
    padding: 100px 20px 150px;
  }
  footer {
    padding: 100px 20px 70px;
  }
  .footer__r-col, .footer__r-col p {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1066px) {
  .footer__under h2 a {
    font-size: 35px;
    font-family: 'Prata', serif;
    color: white;
  }
  .header__line {
    left: 1300px;
  }
  .line--up {
    margin-top: -110px;
  }
  .header__slide {
    width: 100%;
  }
  section {
    width: 596px;
  }
  .help__r-col img {
    display: none;
  }
  .help__r-col {
    position: relative;
    padding-top: 70px;
    width: 100%;
  }
  .bottom__r-col img {
    display: none;
  }
  .about__l-col {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
    height: auto;
  }
  .about__l-col p {
    width: 100%;
  }
  .about__r-col {
    position: relative;
    margin: 100px 0 40px;
  }
  .bottom__l-col {
    margin-left: 0px;
    margin-top: 50px;
    width: 100%;
  }
  .help__slide {
    padding: 100px 0 135px;
  }
  .solutions img {
    display: none;
  }
  .footer__header img {
    display: none;
  }
  .about__top {
    display: block;
  }
  .bottom__r-col {
    position: relative;
    margin-top: 50px;
    right: 0;
    margin-bottom: 80px;
  }
  .help__l-col {
    width: 100%;
  }
  .rectangle img,
  .rectangle__img {
    width: 410px;
    height: 502px;
  }
  .diplom,
  .diploms__positions {
    width: 100%;
    height: 320px;
  }
  .diplom__arrow {
    width: 100%;
  }
  .three__position {
    margin: 155px auto 0;
    display: table;
  }
  .solutions__row {
    display: block;
  }
  .solution {
    width: 100%;
    margin-top: 55px;
  }
  form {
    display: block;
  }
  .footer__l-col,
  .footer__r-col,
  .footer__r-col p {
    width: 100%;
  }
  .footer__r-col, .footer__r-col p {
    margin-right: 0px;
  }
  .up__space {
    width: 100%;
    padding: 0 20px;
  }
  .zeroone {
    display: none;
  }
  .h_bigger {
    font-size: 60px;
  }
  .header_quote {
    font-size: 17px;
  }
  h1 {
    font-family: 'Prata', serif;
    font-size: 50px;
    font-weight: normal;
  }
  .footer__under p,
  .footer__under a {
    font-size: 14px;
  }
  .volkov__footer {
    font-size: 35px;
  }
  .header__slide__left {
    width: 550px;
  }
  .help__slide p {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .hamburger-menu {
    height: 0px;
    display: block;
  }
  .header__slide {
    padding: 90px 0 0;
  }
  .header-container {
    display: none;
  }
  .header_quote {
    margin-top: 250px;
  }
  h1 {
    font-size: 50px;
  }
  .rectangle img {
    position: absolute;
    margin-top: -40px;
    width: 80%;
  }
  .rectangle__img {
    width: 430px;
    height: 533px;
  }
  .rectangle img {
    width: 430px;
    height: 533px;
  }
  .header-backcolor {
    height: 90px;
  }
  .hamburger-menu > .logo {
    margin-left: 15px;
    margin-top: 5px;
    z-index: 2001;
  }
  .header-backcolor {
    position: fixed;
    z-index: 2000;
  }
  .header-backcolor > .logo,
  .header-backcolor > .menu__btn {
    position: fixed;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2001;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    padding-top: 0px;
    border: none;
    z-index: 2001;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #16192a;
    z-index: 2000;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Helvetica Neue Cyr Roman';
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #16192a;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.4s;
  }
  .menu__box {
    transition-duration: 0.7s;
  }
  .menu__item {
    transition-duration: 0.7s;
  }
  .scrollto {
    display: none;
  }
  .line__ver {
    display: none;
  }
  .r-col__button p {
    margin-top: 35px;
  }
  .fixed__page {
    position: fixed;
  }
}

@media screen and (max-width: 870px) {
  .header__slide__left {
    width: 500px;
  }
  .header__line {
    left: 1250px;
  }
}

@media screen and (max-width: 820px) {
  .header__slide {
    height: 750px;
    display: block;
    padding: 120px 20px 0;
  }
  .header_quote {
    margin-top: 50px;
    margin-left: 20px;
  }
  .header__line {
    left: 770px;
  }
  .header__slide__right {
    margin-right: 0px;
    margin-top: 100px;
  }
  .about__l-col {
    width: 100%;
  }
  .solutions h1 {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  section {
    width: 100%;
    padding: 0 20px;
  }
  .contacts__body {
    display: block;
    width: 100%;
  }
  .footer__under {
    display: block;
    text-align: center;
  }
  .footer__under .logo {
    display: none;
  }
  .help__slide {
    padding: 100px 20px 135px;
  }
  .solutions {
    padding: 100px 0 150px;
  }
  footer {
    padding: 100px 0 70px;
  }
  .header__slide__left {
    margin-left: 0px;
  }
  .header_quote {
    margin-left: 0px;
  }
}

@media screen and (max-width: 550px) {
  .r-col__button {
    display: block;
    text-align: center;
  }
  .r-col__button p {
    margin-left: 0;
  }
  .r-col__button label {
    display: table;
    margin: 0 auto;
  }
  .h_bigger {
    font-size: 34px;
    width: 110%;
  }
  .header__slide__under {
    font-size: 15px;
    width: 100%;
  }
  .header__slide__left {
    width: 100%;
  }
  .header__slide__up {
    font-size: 12px;
  }
  .header_quote {
    font-size: 15px;
  }
  h1 {
    font-size: 30px;
  }
  .help__slide p {
    margin-top: 20px;
  }
  h3 {
    font-size: 26px;
  }
  .bottom__l-col h2 {
    font-size: 30px;
  }
  .rectangle img,
  .rectangle__img {
    width: 279px;
    height: 342px;
  }
  .diplom,
  .diploms__positions {
    width: 100%;
    height: 151px;
  }
  .header__slide {
    padding: 120px 20px 0;
  }
}

@media screen and (max-width: 370px) {
  .button {
    font-size: 14px;
    padding: 21px 1px;
    width: 100%;
  }
  .header_quote {
    width: 100%;
  }
}
