@import "./constants.scss";
@import "./header-and-footer-style.scss";
@import "./index-style.scss";
@import "./contacts-style.scss";
@import "./price-style.scss";
@import "./posts-style.scss";



@media screen and (max-width: 1420px) {
    section {
        width: 900px;
        margin: 0 auto;
    }
    nav .navigation {
        width: 1100px;
    }
    .logo {
        margin-right: 60px;
    }

    .footer__l-col {
        width: 100%;
        margin-right: 50px;
    }

    .footer__r-col, .footer__r-col p {
        width: 100%;
        margin-right: 0px;
    }

    .scrollto {
        margin-top: 110px;
    }
}

@media screen and (max-width: 1280px) {
    .header_quote {
        margin-top: 300px;
    }
    .scrollto {
        margin-top: 90px;
    }
    .help__r-col {
        padding-top: 120px;
        width: 900px;
        justify-content: space-between;
        display: flex;
        margin-right: 0;
        position: relative;
    }

    .help__r-col img {
        right: 0;
        top: 0;
        margin-top: -420px;
        margin-right: -125px;
    }
    .header__slide__left {
        width: 700px;
    }
    .bottom__l-col p {
        width: 420px;
    }
    .header__slide__right img {
        position: absolute;
        margin-left: 30px;
    }
}

@media screen and (max-width: 1152px) {
    nav .navigation {
        width: 950px;    
    }
    .header__slide {
        padding: 150px 0 0;
    }
    .navigation__list {
        margin: 20px 15px;   
    }
    .zeroone {
        display: none; 
    }
    .h_bigger {
        font-size: 70px;
    }
    .header__slide__left {
        width: 600px;   
    }
    .header__line {
        margin-right: -890px;
    }
    .scrollto {
        margin-top: 60px;    
    }
    h1 {
        font-size: 60px;
    }
    .footer__header img {
        display: none; 
    }
    .solutions img {
        display: none;  
    }
    .bottom__r-col img {
        display: none; 
    }
    .help__r-col img {
        display: none;
    }
    .header__slide__right img {
        margin-left: 0px;
    }
    .up__space {
        margin-top: 50px;   
    }
}

@media screen and (max-width: 1024px) {
    .scrollto {
        margin-top: 40px;    
    }
    .header_quote {
        margin-top: 250px;   
    }
    h1 {
        font-size: 50px;   
    }
    .rectangle img {
        position: absolute;
        margin-top: -40px;
        width: 80%;
    }
    .rectangle__img {
        width: 430px;
        height: 533px;
    }
    .rectangle img {
        width: 430px;
        height: 533px;
    }
}

@media screen and (max-width: 950px) {
    .scrollto {
        display: none;   
    }
    .header__slide__left > .gray--back {
        display: none; 
    }
}