@import "./constants.scss";
@import "./header-and-footer-style.scss";
@import "./index-style.scss";
@import "./contacts-style.scss";
@import "./price-style.scss";
@import "./posts-style.scss";

@media screen and (max-width: 1420px) {
    .header__slide {
        padding: 170px 0 0;
    }
    .header_quote {
        margin-top: 300px;
    }
    .scrollto {
        margin-top: 90px;
    }
    .help__r-col {
        margin-right: 0px;
    }
    section {
        width: 900px;
        margin: 0 auto;
    }
    nav .navigation {
        width: 1100px;
    }
    .logo {
        margin-right: 60px;
    }
    .footer__l-col {
        width: 100%;
        margin-right: 50px;
    }
    .footer__r-col, .footer__r-col p {
        width: 100%;
        margin-right: 0px;
    }
    .scrollto {
        margin-top: 110px;
    }
    .diploms__positions {
        margin-right: -100px;
    }
    .help__r-col img {
        padding-left: 180px;
    }
    .bottom__r-col img {
        margin-left: 175px;
    }
}
@media screen and (max-width: 1280px) {
    .header_quote {
        margin-top: 300px;
    }
    .scrollto {
        margin-top: 90px;
    }
    .help__r-col img {
        right: 0;
        top: 0;
        margin-top: -420px;
        margin-right: -125px;
    }
    .header__slide__left {
        width: 700px;
    }
    .bottom__l-col p {
        width: 420px;
    }
    .header__slide__right img {
        position: absolute;
        margin-left: 30px;
    }
    .up__space {
        width: 1110px;
    }
    .help__slide p {
        width: 95%;
    }
    .r-col__button p {
        margin-top: 20px;
    }
}
@media screen and (max-width: 1175px) {
    .up__space {
        width: 95%;
    }
    .price {
        padding: 44px 33px;
    }
    .price__read {
        margin-bottom: 20px;
        margin-right: 60px;
    }
    .price h2 {
        width: 300px;
    }
    nav .navigation {
        width: 950px;    
    }
    .header__slide {
        padding: 150px 0 0;
    }
    .navigation__list {
        margin: 20px 15px;   
    }
    .zeroone {
        display: none; 
    }
    .h_bigger {
        font-size: 70px;
    }
    .header__slide__left {
        width: 600px;   
    }
    .header__line {
        margin-right: -890px;
    }
    .scrollto {
        margin-top: 60px;    
    }
    h1 {
        font-size: 60px;
    }
    .footer__header img {
        display: none; 
    }
    .solutions img {
        display: none;  
    }
    .bottom__r-col img {
        display: none; 
    }
    .help__r-col img {
        display: none;
    }
    .header__slide__right img {
        margin-left: 0px;
    }
    .up__space {
        margin-top: 50px;   
    }
    .diploms__positions {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .hamburger-menu {
        height: 0px;
        display: block;
    }
    .header__slide {
        padding: 90px 0 0;
    }
    .header-container{
        display: none;
    }
    .scrollto {
        margin-top: 40px;    
    }
    .header_quote {
        margin-top: 250px;   
    }
    h1 {
        font-size: 50px;   
    }
    .rectangle img {
        position: absolute;
        margin-top: -40px;
        width: 80%;
    }
    .rectangle__img {
        width: 430px;
        height: 533px;
    }
    .rectangle img {
        width: 430px;
        height: 533px;
    }
    .header-backcolor {
        height: 50px;
    }
    .hamburger-menu > .logo {
        position: fixed;
        margin-top: -15px;
        margin-left: 15px;
        z-index: 2001;
    }
    .header-backcolor {
        position: fixed;
        z-index: 2000;
    }

    .header-backcolor > .logo {
        position: fixed;
    }
#menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 13px;
    right: 15px;
    width: 26px;
    height: 26px;  cursor: pointer;
    z-index: 2001;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    padding-top: 0px;
    border: none;
    z-index: 2001;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;  
    width: 100vw;
    height: 100vh;  
    margin: 0;
    padding: 80px 0;  
    list-style: none;
    text-align: center;  
    background-color: #16192a;
    z-index: 2000;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;  
    color: white;
    font-family: 'Helvetica Neue Cyr Roman';
    font-size: 24px;
    font-weight: 600;  
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #16192a;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.7s;
}.menu__box {
  transition-duration: 0.7s;
}.menu__item {
  transition-duration: 0.7s;
}
}
@media screen and (max-width: 950px) {
    .scrollto {
        display: none;   
    }
    .header__slide__left > .gray--back {
        display: none; 
    }
    .header_quote {
        margin-top: 200px;
    }
    .header__slide__left {
        width: 500px;
        margin-left: 20px;
    }
    .h_bigger {
        font-size: 60px;
    }
    .header__line {
        margin-right: -800px;
    }

    .footer__body form {
        display: block;
    }
    section {
        width: 100%;
        padding: 0 60px;
    }
    .bottom__l-col p {
        width: 320px;
    }
    .help__slide p {
        width: 90%;
    }
    .help__slide {
        padding: 100px 60px 215px;
        position: relative;
    }
    .bottom__l-col h2 {
        font-size: 40px;
    }
    .bottom__r-col {
        margin-right: -40px;
    }
    .help__slide p {
        width: 70%;
    }
}
@media screen and (max-width: 900px) {
    .header__line {
        margin-right: -850px;
    }
    .line--up {
        margin-top: -100px;
    }
    .line__hor {
        margin-left: -510px;
    }
    .rectangle {
        margin-left: -50px;
    }
    .up__space {
        margin-top: 100px;
        padding: 0;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 850px) {
    .footer__under {
        display: block;
        text-align: center;

        .logo {
            margin-right: 0;
        }
    }
    .price {
        display: block;
    }
    .price h2 {
        width: 100%;
        margin-bottom: 20px;
    }
    .contacts__header {
        margin-bottom: 30px;
    }
    .header__slide {
        display: block;
    }
    .header_quote {
        margin-left: 60px;
        margin-top: 60px;
    }
    .header__slide__left {
        width: 500px;
        margin-left: 60px;
    }
    .hamburger-menu > .logo {
        margin-left: 40px;
    }
    .menu__btn {
        right: 60px;
    }
    .header__line {
        margin-right: 0px;
        left: 760px;
    }
    элемент {

    }
    .help__r-col {
    
        margin-right: 0px;
    
    }
    .help__r-col { 
        padding-top: 50px;
        top: 0;
        position: relative;
        right: 0;
        width: 100%;
    }
    .help__slide {
        padding: 100px 60px 75px;
    }
    .help__l-col {
        width: 100%;
    }
    .help__slide p {
        width: 100%;
    }
    .about__top {
        display: block;   
    }
    .bottom__r-col {
        position: relative;
    }
    .about {
        padding: 100px 0 90px;
    }
    .button--first__slide {
    margin: 0 auto;
    }
    .three__position {
        margin-top: 155px;
    }
    .rectangle {
        margin: 100px auto 0;
    }
    .about__l-col {
        width: 100%;
        margin-right: 0px;
    }
    .bottom__l-col p {
        width: 100%;
    }
    .bottom__l-col {
        width: 100%;
        margin-top: 50px;
    }
    .bottom__r-col {
        margin-right: 0px;
        margin-top: 50px;
    }
    .diploms__positions {
        margin: 0 auto;
    }
    .rectangle {
        width: 410px;
    }
    .first__position {
        margin-left: 0;
        margin-top: 50px;
    }
    .solutions h1 {
        width: 100%;
    }
    .solutions__row {
        margin-top: 60px;
        display: block;
        justify-content: space-between;
    }
    .solution {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .contacts__body {
        display: block;
        width: 100%;
        text-align: center;
    }
    .adres  {
            margin-top: -30px;
    }
    .adres:first-child {
        margin-top: 50px;
    }
    .up__space {
        padding: 0;
    }
    .contacts__header {
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .contacts__header > .line__hor {
        margin-top: -38px;
    }
}
@media screen and (max-width: 550px) {
    .h_bigger {
        font-size: 40px;
    }
    .header__slide__under {
        font-size: 16px;
        width: 100%;
    }
    .diploms__positions {
        width: 100%;
    }
    .diplom__arrow {
        width: 100%;
    }
    .rectangle {
        width: 100%;
    }
    .rectangle img {
        width: 100%;
        height: auto;
    }
    .header__slide__left {
        width: 100%;
    }
    .header__slide__under {
        font-size: 16px;
        width: 70%;
    }
    .header_quote {
        margin-top: 50px;
    }
    .header_quote p {
        font-size: 20px;
        margin-top: 20px;
    }
    .rectangle__img {
        width: 100%;
        height: 520px;
    }
    .r-col__button {
        display: block;
        span {
            margin: 0 auto;
        }
        p {
            text-align: center;
        }
    }
    .r-col__button p {
        margin-left: 0px;
    }
    h1 {
        font-size: 40px;
    }
    .line--up {
        margin-top: -85px;
    }
    .header__slide__up {
        font-size: 12px;
    }
    .button__slim {
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .rectangle__img {
        height: 410px;
    }
    .contacts__header > .line__hor {
        margin-top: -28px;
    }
}

@media screen and (max-width: 450px) {
    .rectangle__img {
        height: 470px;
    }
    label > span {
        width: 100%;
    }
    #button__hidden {
        width: 100%;
    }
    .button {
        width: 100%;
    }
    .header__slide__right {
        margin-right: 0px;
        width: 100%;
    }
    .header__slide__left {
        margin-left: 30px;
        label > span {
            width: 320px;
        }
        .button {
            width: 320px;
            margin-right: 0;
        }
        #button__hidden {
            width: 320px;
        }
    }
    .header__line {
        width: 100px;
    }
    .header_quote {
        margin-left: 30px;
    }
    section {
        padding: 0 30px;
    }
    .help__slide {
        padding: 100px 30px 75px;
    }
}

@media screen and (max-width: 425px) {
    .rectangle__img {
        height: 450px;
    }
    .price h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 400px) {
    .rectangle__img {
        height: 400px;
    }
}

@media screen and (max-width: 370px) {
    .rectangle__img {
        height: 370px;
    }
    .header__slide__left .button {
        width: 260px;
    }
    .header__slide__left #button__hidden {
        width: 260px;
    }
    .h_bigger {
        font-size: 32px;
    }
    .header_quote {
        font-size: 16px;
        width: 90%;
    }
    .header__line {
        left: 710px;
    }
    .header__slide__under {
        width: 80%;
    }
    h1 {
        font-size: 34px;
    }
    .line--up {
        margin-top: -70px;
    }
    h3 {
        font-size: 28px;
    }
    .first__position {
        margin-top: 40px;
    }
    .post {
        width: 100%;

        img {
            width: 100%;
        }
    }
}
@media screen and (max-width: 340px) {
    .rectangle__img {
        height: 335px;
    }
}