body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 70px;
}

h2 {
  font-family: 'Prata', serif;
  font-size: 35px;
}

h3 {
  font-family: 'Prata', serif;
  font-size: 30px;
}

h4 {
  font-family: 'Prata', serif;
  font-size: 20px;
  color: #00162f;
  line-height: 30px;
}

hr {
  height: 1px;
  width: 100%;
  color: #414451;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.line__hor {
  height: 2px;
  width: 500px;
  position: absolute;
  margin-left: -550px;
  margin-top: -52px;
}

.dark {
  color: #131728;
}

.light {
  color: white;
}

.dark--back {
  background-color: #131728;
}

.light--back {
  background-color: white;
}

section {
  width: 1110px;
  margin: 120px auto 0;
}

.line--up {
  margin-top: -150px;
}

.header-backcolor {
  background-color: #16192a;
  width: 100%;
  height: 90px;
}

.header-container {
  position: absolute;
  width: 100%;
}

header {
  margin: 0 auto;
  display: flex;
  max-width: 1337px;
  position: relative;
}

.header__number {
  display: flex;
}

.header__navigation {
  position: absolute;
  right: 0;
}

.header__navigation ul {
  margin-top: 15px;
  display: flex;
}

.navigation__list {
  margin: 20px 25px;
}

.navigation__list a {
  font-family: 'Helvetica Neue Cyr Medium';
  font-size: 14px;
  color: #a2a3aa;
  letter-spacing: 0.15em;
}

.navigation__list a:hover {
  color: white;
}

.navigation__list a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width .3s ease-in-out;
}

.navigation__list a:hover:after,
.navigation__list a:active:after {
  width: 97%;
}

.logo {
  margin-top: 20px;
  margin-right: 160px;
}

.logo a {
  color: white;
}

.header__number {
  margin-top: 35px;
}

.header__number__phone {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 18px;
  color: white;
  margin-right: 16px;
}

.line--vertical {
  height: 17px;
  width: 2px;
  background-color: #eeeeee;
  border-radius: 1px;
}

.header__number__scroll {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  color: #a2a3aa;
  margin-top: 3px;
  margin-left: 16px;
}

footer {
  margin-top: 100px;
  width: 100%;
  padding: 100px 0 0;
  background-image: url("../img/bg-footer.png");
}

.footer__header {
  position: relative;
  margin-bottom: 45px;
}

.footer__header img {
  position: absolute;
  margin-top: -180px;
  right: 0;
  margin-right: -140px;
}

.footer__body {
  margin-bottom: 100px;
}

.footer__l-col {
  width: 444px;
}

form {
  display: flex;
  justify-content: space-between;
}

input[type="text"],
textarea {
  font-family: 'Playfair Display', serif;
  width: 100%;
  background-image: url("../img/bg-footer.png");
  border: 1px solid #888a92;
  color: #888a92;
  font-size: 20px;
  padding-left: 30px;
}

input[type="button"] {
  width: 1px;
  height: 1px;
  opacity: 0;
}

input[type="text"] {
  height: 58px;
  margin-bottom: 30px;
}

textarea {
  height: 234px;
  resize: none;
  padding-top: 18px;
}

.footer__r-col,
.footer__r-col p {
  width: 539px;
  margin-right: 95px;
}

label > span {
  cursor: pointer;
  color: white;
  border: 2px solid white;
  display: block;
  width: 270px;
  height: 64px;
  font-family: 'Helvetica Neue Cyr Bold';
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
}

.r-col__button {
  display: flex;
}

.r-col__button p {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 12px;
  margin: 0;
  margin-left: 30px;
  margin-top: 43px;
  color: #71737d;
}

.r-col__button p a {
  color: #71737d;
  text-decoration: underline;
}

.footer__under {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__under p, .footer__under a {
  margin-top: 35px;
  color: #71737d;
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 16px;
}

.back {
  height: 15px;
  display: flex;
}

.back img {
  width: 12px;
  height: 10px;
  margin-top: 4px;
  margin-right: 11px;
}

.back p {
  font-family: 'Helvetica Neue Cyr Bold';
  font-size: 15px;
  color: #646464;
}

.contacts {
  margin-top: 25px;
}

.contacts__header {
  position: relative;
  margin-bottom: 100px;
}

.contacts__body {
  display: flex;
  justify-content: space-between;
  width: 620px;
}

.adress__p {
  line-height: 24px;
  font-size: 16px;
  font-family: 'Helvetica Neue Cyr Roman';
  color: #646464;
  margin-bottom: 20px;
  margin-top: 20px;
}

.adress__a {
  line-height: 27px;
  font-size: 18px;
  font-family: 'Helvetica Neue Cyr Roman';
  color: #646464;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  width: 350px;
  height: 550px;
  border: 2px solid #242d47;
  position: relative;
  margin-bottom: 70px;
  box-shadow: 0 5px 20px rgba(0, 22, 47, 0.4);
}

.post img {
  object-fit: fill;
}

.post__body {
  padding: 30px;
}

.post__body h4 {
  margin-bottom: 10px;
}

.post__body p {
  font-family: 'Helvetica Neue Cyr Roman';
  line-height: 23px;
  font-size: 15px;
}

.post__body a {
  position: absolute;
  margin-bottom: 52px;
  bottom: 0;
  text-decoration: underline;
  font-size: 15px;
  line-height: 23px;
  font-family: 'Helvetica Neue Cyr Bold';
  color: #00162f;
}
