//---------------------------------------posts

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post {
    width: 350px;
    height: 550px;
    border: 2px solid #242d47;
    position: relative;
    margin-bottom: 70px;
    box-shadow: 0 5px 20px rgba($color: #00162f, $alpha: 0.4);

    img {
        object-fit: cover;
        width: 100%;
    }
}

.post__body {
    padding: 30px;

    h4 {
        margin-bottom: 10px;
    }

    p {
        font-family: 'Helvetica Neue Cyr Roman';
        line-height: 23px;
        font-size: 15px;
    }

    a {
        position: absolute;
        margin-bottom: 52px;
        bottom: 0;
        text-decoration: underline;
        font-size: 15px;
        line-height: 23px;
        font-family: 'Helvetica Neue Cyr Bold';
        color: #00162f;
    }
}