.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  width: 350px;
  height: 550px;
  border: 2px solid #242d47;
  position: relative;
  margin-bottom: 70px;
  box-shadow: 0 5px 20px rgba(0, 22, 47, 0.4);
}

.post img {
  object-fit: cover;
  width: 100%;
}

.post__body {
  padding: 30px;
}

.post__body h4 {
  margin-bottom: 10px;
}

.post__body p {
  font-family: 'Helvetica Neue Cyr Roman';
  line-height: 23px;
  font-size: 15px;
}

.post__body a {
  position: absolute;
  margin-bottom: 52px;
  bottom: 0;
  text-decoration: underline;
  font-size: 15px;
  line-height: 23px;
  font-family: 'Helvetica Neue Cyr Bold';
  color: #00162f;
}

.post__full {
  width: 730px;
  left: 0;
  margin-bottom: 100px;
}

.post__full p {
  font-family: Helvetica Neue;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  opacity: 0.7;
  position: relative;
}

.post__full img {
  width: 100%;
  object-fit: cover;
  margin: 50px 0;
}
